<!DOCTYPE html>
<html lang="en" layout:decorate="~{auth_base.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Sign up</title>
</head>
<body>
<div class="container mt-3" layout:fragment="content">
  <div class="text-center mb-5 mt-5 ">
    <h3 class="display-5">Sign up</h3>
  </div>
  <div class="card col-4 m-0 m-auto shadow border-0 pt-3 pb-3">
    <div class="card-body">
      <div class="container">
        <form action="" autocomplete="off" th:action="@{/signup}" th:method="@{'POST'}" th:object="${form}">
          <div class="mb-3">
            <label class="form-label" for="username">Username</label>
            <input autocomplete="off" class="form-control" id="username" th:field="*{username}" type="text"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input autocomplete="off" class="form-control" id="email" th:field="*{email}" type="text"/>
          </div>
          <div class="mb-3">
            <label class="form-label" for="password">Password</label>
            <input autocomplete="off" class="form-control" id="password" th:field="*{password}" type="password">
          </div>
          <div class="d-grid mt-2">
            <button class="btn btn-danger" type="submit">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>