<!DOCTYPE html>
<html lang="en" layout:decorate="~{base.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create Workspace</title>
</head>
<body>
<div class="container mt-4" layout:fragment="content">
  <h3 class="fs-3 display-3 text-center">Create Workspace</h3>
  <form action="" autocomplete="off" th:action="@{/workspaces/new}" th:method="@{'POST'}" th:object="${form}">
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" for="name">Name</label>
      <div class="col-sm-10">
        <input class="form-control" id="name" th:field="*{name}" type="text"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" for="description">Description</label>
      <div class="col-sm-10">
        <input class="form-control" id="description" type="text"/>
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-sm-2 col-form-label" for="description">Notes</label>
      <div class="col-sm-10">
        <textarea class="form-control" id="notes"></textarea>
      </div>
    </div>
    <div class="row mb-3">
      <fieldset class="row">
        <div class="col-2 col-sm-2">
          <label class="col-form-label" for="type">Type</label>
        </div>
        <div class="col-4">
          <!-- <div class="dropdown">
            <button class="btn btn-sm btn-light dropdown-toggle border-1"
              type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select Type</button>
            <ul class="dropdown-menu shadow-sm">
              <li th:each="type : ${@commonUtils.listTypes()}"><a href="#"
                th:data-id="${type.value}" class="dropdown-item"
                th:text="${type.label}"></a></li>
            </ul>
          </div> -->
          <select class="form-select" id="type" th:field="*{type}">
            <option value="">Select Type</option>
            <option th:each="type : ${@commonUtils.listTypes()}" th:text="${type.label}"
                    th:value="${type.value}"></option>
          </select>
        </div>
        <div class="col-2 col-sm-2">
          <label class="col-form-label" for="owner">Owner</label>
        </div>
        <div class="col-4">
          <!-- <div class="dropdown">
            <button class="btn btn-sm btn-light dropdown-toggle border-1"
              type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Select User</button>
            <ul class="dropdown-menu shadow-sm">
              <li th:each="user : ${@userUtils.listUsers()}"><a href="#"
                th:data-id="${user.objectId}" class="dropdown-item"
                th:text="${user.username}"></a></li>
            </ul>
          </div> -->
          <select class="form-select" id="owner" th:field="*{user}">
            <option value="">Select User</option>
            <option th:each="user : ${@userUtils.listUsers()}" th:text="${user.username}"
                    th:value="${user.objectId}"></option>
          </select>
        </div>
      </fieldset>
    </div>
    <div class="mb-3 text-end">
      <button class="btn btn-danger" type="submit">Save</button>
    </div>
  </form>
</div>
</body>
</html>